/************** MovieCard**********/

body {
  text-align: center;
  padding: 30px;
  background: #f8f4f2;
  font-family: Arial;
}

.a-box {
  display: inline-block;
  width: 240px;
  text-align: center;
  margin-top: 50px ;
}
.a-box:hover{
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.img-container {
  height: 230px;
  width: 200px;
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
  display: inline-block;
}

.img-container img {
  transform: skew(0deg, -13deg);
  height: 250px;
  margin: -35px 0px 0px -70px;
}

.inner-skew {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px;
  transform: skew(0deg, 13deg);
  font-size: 0px;
  margin: 30px 0px 0px 0px;
  background: #c8c2c2;
  height: 250px;
  width: 200px;
}

.text-container {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.text-container h3 {
  margin: 20px 0px 10px 0px;
  color: #04bcff;
  font-size: 18px;
}
.add-movie{
  width:80%;
display:flex;
flex-direction: column;
align-items: center;
margin:0 auto
}
.add-movie button{
width: 60%;
height: 60px;
text-align: center;
background-color:rgba(5, 4, 61, 0.877) ;
border-radius: 8px;
color: white;
font-weight: bold;
border:none;
outline: none;
box-shadow:0px 0px 120px -25px rgba(0,0,0,0.5) ;
transition: 0.3s ease-in-out;
}

.add-movie button:hover{
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.modal-bg{
 width: 100%;
 height: 100%; 
 background-color: rgba(120, 98, 245, 0.192);
 position: fixed;
 z-index: 9999999;

 
}
.modal-body{
  width: 50%;
  height: 500px;
background-color: white;
border-radius: 8px;
margin: 0 auto;
margin-top: 62px ;

}
.modal-body>*{
  width: 90%;
  height: 40px;
  margin-top: 40px;
  border-radius:8px;

}
.modal-body button{
  width: 90%;
}
/******** Filter******/
.filter{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.search{
  display: flex;
  align-items: center;
  border:1px solid rgb(172,172,172);
  width: 40%;
  background-color:#ebebeb ;
}
.search input{
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  width: 90%;
  background-color: transparent;
  
}